
@media (min-width: 768px) {
  body {
    height: 100vh;
    width: 100%;
  }

  header {
    height: 100px;
    padding: 20px;
  }

  main {
    height: 650px;
    background-image: url(images/desktop/Header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  main > .section-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 150px;
  }

  .grid-container {
    grid-template-rows: 2fr 1fr;
    background-color: #fff;
  }

  .container > nav {
    display: inline-block;
    color: #344563;
    width: 30%;
  }

  nav > ul {
    display: flex;
  }

  .works {
    background-color: #e5e5e5;
    margin-top: 200px;
  }

  .works > .job {
    flex-direction: row;
    justify-content: center;
    background-color: #fff;
    border: 1px solid #dfe1e6;
    width: 800px;
    margin-bottom: 50px;
  }

  .job > .content {
    flex-basis: 450px;
  }

  .About {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    margin: 200px;
  }

  .sct-1 {
    flex: 3;
  }

  .languages {
    flex-direction: row;
    justify-content: center;
  }

  .languages > li {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
  }

  .contacts {
    flex: 3;
  }

  .menu {
    display: none;
  }

  .pop {
    display: none;
    position: fixed;
    margin: 0 auto;
    top: 0;
    bottom: 0;
    max-height: 100vh;
    width: 100%;
    overflow: auto;
    background: rgb(193 199 208 / 50%);
    backdrop-filter: blur(3px);
    padding: 50px 16px;
  }

  .pop-content {
    padding: 12px;
    margin: 0 95px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 80%;
    max-height: 100vh;
    background: #fff;
    border: 1px solid #ebecf0;
    box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
    border-radius: 16px;
  }

  .popimg {
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
  }

  .bottom {
    display: flex;
    margin-bottom: 40px;
  }

  .bottom > p {
    line-height: 30px;
  }

  .right-side {
    margin-left: 30px;
  }

  .right-side > .project-languages {
    margin-bottom: 20px;
  }

  .popup-bottom {
    display: flex;
    margin-bottom: 40px;
  }
}
