* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

header {
  height: 150px;
  padding: 20px;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.menu {
  padding-right: 20px;
  font-size: 30px;
  color: blue;
}

.grid-container {
  display: grid;
  grid-template-rows: 3fr 1fr;
  grid-gap: 20px;
  width: 100%;
}

.first-page {
  background-image: url(images/header-background-mobile.jpg);
}

.container {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

nav {
  display: none;
}

.logo {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #6070ff;
  animation: animated-text 4s;
}

@keyframes animated-text {
  from {
    transform: rotate(3.142rad);
  }

  to {
    transform: rotate(0rad);
  }
}

main {
  display: flex;
  flex-direction: column;
  background-image: url(images/header-shapes\ mobile.png);
}

h1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  margin: 80px 20px 20px 20px;
}

.description {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.connect {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: #7f8cff;
  margin-left: 20px;
  margin-right: 20px;
}

li,
ul {
  display: inline;
  list-style-type: none;
}

.contacts {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 20px;
  margin-top: 5px;
}

.link {
  padding: 3px;
  color: #505f79;
}

.works {
  display: grid;
  grid-template-rows: 1fr 1fr;
  background-color: white;
  justify-content: center;
  margin-top: 100px;
}

.job {
  display: flex;
  flex-direction: column;
  border: 2px solid #dfe1e6;
  border-radius: 16px;
  align-content: center;
  align-items: center;
  margin: 20px;
  gap: 12px;
  padding: 16px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px;
}

ul > li {
  display: inline;
  padding: 7px;
  gap: 5px;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

li:nth-child(1) {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

li:nth-child(2) {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

li:nth-child(3) {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #6070ff;
  letter-spacing: 0.03em;
}

.programming {
  width: 45px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
}

button {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  width: 150px;
  padding: 10px;
  margin: 10px;
  border: 1px solid #396df2;
  border-radius: 10px;
  background-color: transparent;
}

form > ul > li > button {
  background: #fff;
  border-radius: 8px;
  float: left;
  width: 150px;
}

button:hover {
  background-color: #008cba;
  color: white;
  transition: 0.5s;
}

.About {
  display: flex;
  flex-direction: column;
  background-color: white;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  padding: 10px;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.skill {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding: 10px;
  color: #000;
}

.languages {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.languages > li {
  display: flex;
  border: 5px solid #f7f7f9;
  border-radius: 10px;
  margin: 3px;
  background: #f7f7f9;
}

.tech {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  margin: 15px;
  color: #253858;
}

hr {
  width: 50%;
  margin-left: 10px;
  background: #f7f7f9;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-image: url(../images/desktop/contact-background.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.first-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 15px;
}

.first-container > h2 {
  color: white;
  margin-top: 100px;
}

.first-container > p {
  color: white;
}

form > ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
}

form > ul > li > input {
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  background-color: white;
  padding: 10px;
  width: 327px;
}

form > ul > li > textarea {
  color: #b3bac5;
  width: 327px;
  padding: 10px;
}

input:focus,
textarea:focus {
  border-color: #000;
}

.shape {
  width: 134px;
  height: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
  background: #0d151e;
}

input:hover {
  transform: translate(2.5rem, 2ex);
}

textarea:hover {
  transform: translate(2.5rem, 2ex);
}

.nav-style {
  display: flex;
  justify-content: space-between;
  background-color: #6070ff;
  mix-blend-mode: multiply;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
}

.pop-content > ul {
  display: flex;
  flex-direction: row;
  margin: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.nav-style ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 50px;
  width: 40%;
}

.nav-style ul li a {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: white;
  cursor: pointer;
}

.nav-style > .close {
  font-size: 60px;
  color: white;
  cursor: pointer;
  margin: 20px;
}

.pop {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  max-height: 100vh;
  width: 100vw;
  overflow: auto;
  background: rgb(193 199 208 / 50%);
  backdrop-filter: blur(3px);
  padding: 50px 16px;
  box-sizing: border-box;
}

.pop-content {
  background-color: white;
  box-sizing: border-box;
  padding: 20px 16px;
  position: relative;
  border-radius: 15px;
}

.head-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-icon {
  height: 24px;
  width: 24px;
  position: absolute;
  right: 15px;
  top: 30px;
  cursor: pointer;
}

.work-place {
  margin-top: 22px;
  margin-bottom: 20px;
}

.pop-content > ul > li {
  list-style: none;
}

.pop-content > ul > li > .year {
  color: #344563;
  font-size: 13px;
  font-weight: 600;
}

.popimg {
  display: flex;
  position: relative;
  width: 100%;
  height: 380px;
  margin-bottom: 40px;
}

.popup-buttons {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 0fr 1fr;
  column-gap: 12px;
  border-top: 1px solid #ebecf0;
  padding-top: 25px;
}

.popup-buttons > .pop-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
}
