* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

header {
  height: 150px;
  padding: 20px;
}

.menu {
  padding-right: 20px;
  font-size: 30px;
  color: blue;
  background-image: url(images/first-page.jpg);
  margin-bottom: 100px;
}

.grid-container {
  display: grid;
  grid-template-rows: 3fr 1fr;
  grid-gap: 20px;
  justify-content: center;
}

.first-page {
  background-image: url(images/header-background-mobile.jpg);
}

.container {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
}

main {
  display: flex;
  flex-direction: column;
  background-image: url(images/header-shapes\ mobile.png);
}

h1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300px;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  margin: 80px 20px 20px 20px;
}

.description {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-style: bold;
  line-height: 24px;
  color: #344563;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.connect {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: #7f8cff;
  margin-left: 20px;
  margin-right: 20px;
}

li,
ul {
  display: inline;
  list-style-type: none;
}

.contacts {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 20px;
  margin-top: 5px;
}

.link {
  padding: 3px;
  height: s20px;
  color: #505f79;
}

.works {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  background-color: white;
  justify-content: center;
}

.job {
  display: flex;
  flex-direction: column;
  background-color: beige;
  border-radius: 16px;
  align-content: center;
  align-items: center;
  margin: 20px;
  gap: 12px;
  padding: 16px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px;
}

ul > li {
  display: inline;
  padding: 7px;
  gap: 5px;

  /* list-style-type: none; */
}

h3 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

li:nth-child(1) {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

li:nth-child(2) {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

li:nth-child(3) {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

a {
  text-decoration: none;

  /* border-radius: 140px; */
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #6070ff;
  letter-spacing: 0.03em;
}

.programming {
  width: 45px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
}

button {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  width: 150px;
  padding: 10px;
  margin: 10px;
  border: 1px solid #396df2;
  border-radius: 10px;
  background-color: transparent;
}

button:hover {
  background-color: #008cba;
  color: white;
}

.About {
  display: flex;
  flex-direction: column;
  background-color: white;

  /* background-color: aqua; */
}

h2 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  padding: 10px;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.skill {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding: 10px;
  color: #000;
}

.languages {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;

  /* align-items: center; */

  /* background-color:#7A869A; */

  /* flex-wrap: wrap;  */
}

.languages > li {
  display: flex;
  border: 5px solid #f7f7f9;
  border-radius: 10px;
  margin: 3px;
  background: #f7f7f9;
}

.tech {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  margin: 15px;
  color: #253858;
}

hr {
  width: 50%;

  /* text-align:left; */
  margin-left: 10px;
  background: #f7f7f9;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  background-image:
    url(images/Contact-me.jpg),
    url(images/contact-form-shapes.png);
  background-repeat: no-repeat;
  background-position: top left, top left;
  background-size: cover;
  width: 100%;
}
